@import "vars.scss";
@import "mixins.scss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $main-font;
  font-size: 16px;
}

ul {
  padding-left: 0;

  list-style: none;
}



///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.btn--main {
  overflow: hidden;

  width: 147px;
  height: 50px;
  padding: 0 10px;

  color: white;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  line-height: 50px;

  transition: 0.3s;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  text-overflow: ellipsis;

  border: 2px solid transparent;
  border-radius: 0;
  background-color: $tomato;

  &:hover {
    color: $tomato;

    border: 2px solid $tomato;
    background-color: white;
  }
}

.section-title {
  color: $charcoal-grey;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  line-height: normal;

  text-align: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.section-subtitle {
  max-width: 800px;
  margin: 0 auto;

  color: $slate-grey;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: condensed;
  line-height: 1.67;

  text-align: center;
  letter-spacing: 0.2px;
}

.section-title--inverted {
  color: white;
}
