<div class="container">
  <div class="row">
    <h2 class="section-title">Who we are</h2>
    <div class="col-md-6 col-md-12">
      <button class="accordion">Lorem ipsum dolor sit amet</button>
      <div class="panel">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis nulla non elit dignissim suscipit. Duis lorem nulla, eleifend
          Ut urna dui, interdum non blandit sed, hendrerit ultricies mi. Aliquam at scelerisque ligula. Curabitur id laoreet velit.
        </p>
      </div>

      <button class="accordion">Lorem ipsum dolor sit amet</button>
      <div class="panel">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis nulla non elit dignissim suscipit. Duis lorem nulla, eleifend
          Ut urna dui, interdum non blandit sed, hendrerit ultricies mi. Aliquam at scelerisque ligula. Curabitur id laoreet velit.
        </p>
      </div>

      <button class="accordion">Lorem ipsum dolor sit amet</button>
      <div class="panel">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis nulla non elit dignissim suscipit. Duis lorem nulla, eleifend
          Ut urna dui, interdum non blandit sed, hendrerit ultricies mi. Aliquam at scelerisque ligula. Curabitur id laoreet velit.
        </p>
      </div>
    </div>
    <div class="col-md-6 col-md-12">
      <div class="progress about__progress">
        <div class="progress__line">
          <div class="progress__label">Web Design 80%</div>
        </div>
      </div>
      <div class="progress about__progress">
        <div class="progress__line">
          <div class="progress__label">Html and Css 60%</div>
        </div>
      </div>
      <div class="progress about__progress">
        <div class="progress__line">
          <div class="progress__label">Graphic Design 75%</div>
        </div>
      </div>
      <div class="progress about__progress">
        <div class="progress__line">
          <div class="progress__label">Wordpress 90%</div>
        </div>
      </div>
      <div class="progress about__progress">
        <div class="progress__line">
          <div class="progress__label">Joomla 50%</div>
        </div>
      </div>
      <div class="progress about__progress">
        <div class="progress__line">
          <div class="progress__label">Php and MysQl 85%</div>
        </div>
      </div>
    </div>
  </div>
</div>
