<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <span class="logo">ADVENTURER</span>
        <p class="footer-text">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
          The point of using Lorem Ipsum is that it has a more-or-less normal.
        </p>
        <div class="footer-social">
          <a href="#" class="footer-social__link"></a>
          <a href="#" class="footer-social__link"></a>
          <a href="#" class="footer-social__link"></a>
          <a href="#" class="footer-social__link"></a>
          <a href="#" class="footer-social__link"></a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-title">Some features</div>
      </div>
      <div class="col-md-3">
        <div class="footer-title">Some features</div>
      </div>
      <div class="col-md-3">
        <div class="footer-title">Some features</div>
      </div>
    </div>
  </div>
</footer>
