<footer class="main-footer">
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <span class="logo logo--footer">ADVENTURER</span>

        <p class="footer-text">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
          The point of using Lorem Ipsum is that it has a more-or-less normal.
        </p>

        <div class="footer-social">
          <a href="#" class="footer-social__link"></a>
          <a href="#" class="footer-social__link"></a>
          <a href="#" class="footer-social__link"></a>
          <a href="#" class="footer-social__link"></a>
          <a href="#" class="footer-social__link"></a>
        </div>

      </div>

      <div class="col-md-3">
        <div class="footer-title">Some features</div>
        <ul class="features-list">
          <li class="feature__item">Lorem ipsum dolor sit amet</li>
          <li class="feature__item">Aliquam tincidunt cons ectetuer </li>
          <li class="feature__item">Vestibulum auctor dapibus con</li>
          <li class="feature__item">Lorem ipsum dolor sit amet auctor dapibus</li>
        </ul>
      </div>

      <div class="col-md-3">
        <div class="footer-title">Tags</div>
        <div class="tags">
          <div class="tags__tag">Corporate</div>
          <div class="tags__tag">Agency</div>
          <div class="tags__tag">Portfolio</div>
          <div class="tags__tag">Blog</div>
          <div class="tags__tag">Elegant</div>
          <div class="tags__tag">Professional</div>
          <div class="tags__tag">Business</div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="footer-title">Flicker Posts</div>
      </div>

    </div>
  </div>
</footer>
