<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <span class="logo">ADVENTURER</span>
      </div>
      <div class="col-md-6">
        <nav class="nav">
          <ul class="nav__list">
            <!--TODO add link-->
            <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
            <li class="nav__item"><a href="#" class="nav__link">About</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Service</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Faq</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Support</a></li>
          </ul>
        </nav>
        <div class="search">
          <button class="search__toggle" id="search-btn" type="button"></button>
          <form class="search__form" action="/search/">
            <input class="search__input" type="search">
          </form>
        </div>
      </div>
    </div>
  </div>
</header>


