<div class="join">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="join__img"></div>
        <!--TODO add svg-->
        <h2 class="section-title section-title--inverted join__title">Join Our Creative Company</h2>
        <p class="join__text">
          “ Hello! Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
          tincidunt ut laoreet dolore magna aliquam erat volutpat.”
        </p>
        <a href="#" class="join__btn btn btn--main">See more</a>
      </div>
    </div>
  </div>
</div>
