<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2 class="section-title offer__title">What we Offer</h2>
      <div class="col-md-6 col-xs-12">

        <div class="offer-card">
          <div class="offer-card__img-wrap"></div>
          <div class="offer-card__info">
            <div class="offer-card__title">Technical analysis</div>
            <p class="offer-card__text">Lorem Ipsum is simply dummy text of the printing and
              typesetting industry.
            </p>
          </div>
        </div>

        <div class="offer-card">
          <div class="offer-card__img-wrap"></div>
          <div class="offer-card__info">
            <div class="offer-card__title">Consultation</div>
            <p class="offer-card__text">Lorem Ipsum is simply dummy text of the printing and
              typesetting industry.
            </p>
          </div>
        </div>

      </div>
      <div class="col-md-6 col-xs-12">
        <div class="offer-card">
          <div class="offer-card__img-wrap"></div>
          <div class="offer-card__info">
            <div class="offer-card__title">General contract</div>
            <p class="offer-card__text">Lorem Ipsum is simply dummy text of the printing and
              typesetting industry.
            </p>
          </div>
        </div>

        <div class="offer-card">
          <div class="offer-card__img-wrap"></div>
          <div class="offer-card__info">
            <div class="offer-card__title">24/7 full support</div>
            <p class="offer-card__text">Lorem Ipsum is simply dummy text of the printing and
              typesetting industry.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
