<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">

      <h2 class="section-title portfolio__title">Our Awesome Works</h2>

      <div class="section-subtitle portfolio__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse
        cursus malesuada facilisis.Lorem ipsum dolor sit amet, consectetur facilisis.
      </div>

      <nav class="portfolio-nav">
        <ul class="portfolio-nav__list">
          <li class="portfolio-nav__item">
            <a href="#" class="portfolio-nav__link">All</a>
          </li>
          <li class="portfolio-nav__item">
            <a href="#" class="portfolio-nav__link">Photography</a>
          </li>
          <li class="portfolio-nav__item">
            <a href="#" class="portfolio-nav__link">Graphic</a>
          </li>
          <li class="portfolio-nav__item">
            <a href="#" class="portfolio-nav__link">Print</a>
          </li>
          <li class="portfolio-nav__item">
            <a href="#" class="portfolio-nav__link">Web</a>
          </li>
        </ul>
      </nav>

      <div class="col-md-4 col-xs-12">
        <div class="portfolio-card">
          <div class="portfolio-card__img"></div>
          <div class="portfolio-card__title">Our Work Image 01</div>
          <div class="portfolio-card__text">Lorem ipsum dolor sit amet, consectetur</div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="portfolio-card">
          <div class="portfolio-card__img"></div>
          <div class="portfolio-card__title">Our Work Image 02</div>
          <div class="portfolio-card__text">Lorem ipsum dolor sit amet, consectetur</div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="portfolio-card">
          <div class="portfolio-card__img"></div>
          <div class="portfolio-card__title">Our Work Image 03</div>
          <div class="portfolio-card__text">Lorem ipsum dolor sit amet, consectetur</div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="portfolio-card">
          <div class="portfolio-card__img"></div>
          <div class="portfolio-card__title">Our Work Image 04</div>
          <div class="portfolio-card__text">Lorem ipsum dolor sit amet, consectetur</div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="portfolio-card">
          <div class="portfolio-card__img"></div>
          <div class="portfolio-card__title">Our Work Image 05</div>
          <div class="portfolio-card__text">Lorem ipsum dolor sit amet, consectetur</div>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="portfolio-card">
          <div class="portfolio-card__img"></div>
          <div class="portfolio-card__title">Our Work Image 06</div>
          <div class="portfolio-card__text">Lorem ipsum dolor sit amet, consectetur</div>
        </div>
      </div>
    </div>

  </div>
</div>
