<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">

      <h2 class="section-title">Customer reviews</h2>

      <div class="promo-card">
        <div class="promo-card__img-wrap"></div>
        <div class="promo-card__num">10K+</div>
        <p class="promo-card__text">Love Our Team</p>
      </div>

      <div class="promo-card">
        <div class="promo-card__img-wrap"></div>
        <div class="promo-card__num">400+</div>
        <p class="promo-card__text">Check Our</p>
      </div>

      <div class="promo-card">
        <div class="promo-card__img-wrap"></div>
        <div class="promo-card__num">312</div>
        <p class="promo-card__text">Repeat client</p>
      </div>

      <div class="promo-card">
        <div class="promo-card__img-wrap"></div>
        <div class="promo-card__num">480</div>
        <p class="promo-card__text">Pizzas Ordered</p>
      </div>


    </div>
  </div>
</div>
