<div class="container">
  <div class="row">
    <h2 class="section-title">Our Service</h2>
    <div class="col-md-4 col-xs-12">
      <div class="service-card">
        <div class="service-card__img"></div>
        <div class="service-card__title">Free support & updates</div>
        <p class="service-card__text">Lorem ipsum dolor sit amet, conse tetuer adipiscing elit, sed diam nonu my nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <button class="btn btn--main">See More</button>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="service-card">
        <div class="service-card__img"></div>
        <div class="service-card__title">Fully customizable</div>
        <p class="service-card__text">Lorem ipsum dolor sit amet, conse tetuer adipiscing elit, sed diam nonu my nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <button class="btn btn--main">See More</button>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="service-card">
        <div class="service-card__img"></div>
        <div class="service-card__title">12 theme websites</div>
        <p class="service-card__text">Lorem ipsum dolor sit amet, conse tetuer adipiscing elit, sed diam nonu my nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <button class="btn btn--main">See More</button>
      </div>
    </div>
  </div>
</div>

