<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">

      <h2 class="section-title team__title">Meet Our Team</h2>

      <p class="team__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse
        cursus malesuada facilisis.Lorem ipsum dolor sit amet, consectetur facilisis.</p>

      <div class="col-md-3 col-pad-10">
        <div class="team-card">
          <div class="team-card__about">
            <div class="team-card__name">Mahabubul Islam</div>
            <div class="team-card__profession">Html-Coder</div>
            <div class="team-card__social"></div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-pad-10">
        <div class="team-card">
          <div class="team-card__about">
            <div class="team-card__name">Mahabubul Islam</div>
            <div class="team-card__profession">Html-Coder</div>
            <div class="team-card__social"></div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-pad-10">
        <div class="team-card">
          <div class="team-card__about">
            <div class="team-card__name">Mahabubul Islam</div>
            <div class="team-card__profession">Html-Coder</div>
            <div class="team-card__social"></div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-pad-10">
        <div class="team-card">
          <div class="team-card__about">
            <div class="team-card__name">Mahabubul Islam</div>
            <div class="team-card__profession">Html-Coder</div>
            <div class="team-card__social"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
