<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2 class="section-title">Join Our Creative Company</h2>
      <div class="team-card">
        <div class="team-card__about">
          <div class="team-card__name"></div>
          <div class="team-card__profession"></div>
          <div class="team-card__social"></div>
        </div>
      </div>
      <div class="team-card">
        <div class="team-card__about">
          <div class="team-card__name"></div>
          <div class="team-card__profession"></div>
          <div class="team-card__social"></div>
        </div>
      </div>
      <div class="team-card">
        <div class="team-card__about">
          <div class="team-card__name"></div>
          <div class="team-card__profession"></div>
          <div class="team-card__social"></div>
        </div>
      </div>
      <div class="team-card">
        <div class="team-card__about">
          <div class="team-card__name"></div>
          <div class="team-card__profession"></div>
          <div class="team-card__social"></div>
        </div>
      </div>
    </div>
  </div>
</div>
