@import "../vars.scss";
@import "../mixins.scss";

.about__title {
  margin-top: 100px;
  margin-bottom: 60px;
}

.about__subtitle {
  margin-bottom: 65px;
}

.about__progress {
  margin-bottom: 30px;
}
