@import "../vars.scss";
@import "../mixins.scss";

.accordion {
  width: 100%;
  margin-bottom: 10px;
}

.accordion__header {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: $charcoal-grey;
  font-family: $intro-font;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.8px;
  color: white;
  padding: 17px;
}

.accordion__panel {
  padding: 34px 63px 37px 23px;
  border: 1px solid hsla(0, 0%, 54%, 0.5);
}

.accordion__panel p {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: $text-black;
}
