@import "../vars.scss";
@import "../mixins.scss";

.header {
  height: $header-height;
}

.logo {
  color: $tomato;
  font-family: $logo-font;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: $header-height;

  text-align: right;
}

.logo--footer {
  display: inline-block;

  margin-bottom: 21px;

  line-height: 1em;
}
