@import "../vars.scss";
@import "../mixins.scss";

.header {
  height: $header-height;
}

.logo {
  font-family: $logo-font;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: $header-height;

  text-align: right;

  color: $tomato;
}
