@import "../vars.scss";
@import "../mixins.scss";

.intro {
  height: 781px;
  background-color: $charcoal-grey;
}

.intro__title {
  font-family: $intro-font;
  color: white;
  margin-top: 267px;
  margin-bottom: 33px;
  font-size: 90px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 12.6px;
  text-transform: uppercase;
}

.intro__subtitle {
  font-family: $intro-font;
  color: white;
  margin-bottom: 86px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 6.4px;
  text-transform: uppercase;
}

.intro__btn {}
