@import "../vars.scss";
@import "../mixins.scss";

.list-number {
  padding-left: 43px;

  list-style: none;

  counter-reset: li;
}

.list-number__item {
  position: relative;

  margin: 35px 0;
  &::before {
    $size: 25px;

    content: counter(li);
    position: absolute;
    top: -1px;
    left: -40px;

    width: $size;
    height: $size;
    padding-top: 2px; //centered element number

    counter-increment: li;
    text-align: center;
    vertical-align: middle;

    color: white;
    border-radius: 50%;
    background-color: $link-color;
  }
}
