@import "../vars.scss";
@import "../mixins.scss";

.nav {
  display: inline-block;

  transition: 0.3s;
  vertical-align: middle;
}

.nav__list {
  margin-bottom: 0;
}

.nav__item {
  display: inline-block;

  margin-right: 15px;

  vertical-align: bottom;
}

.nav__link {
  color: $charcoal-grey;
  font-family: $main-font;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  line-height: $header-height;

  text-align: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  &:hover {
    color: $tomato;

    text-decoration: none;
  }
  &:active,
  &:focus {
    color: $charcoal-grey;

    text-decoration: none;

    opacity: 0.7;
    outline: none;
  }
}

.nav__link--active {
  color: $tomato;

  cursor: default;
}
