@import "../vars.scss";
@import "../mixins.scss";

.promo {
  width: 100%;
  height: 374px;
  padding-top: 58px;
  padding-bottom: 68px;

  font-size: 0;

  background-color: $charcoal-grey;
}

.promo-card {
  display: inline-block;

  width: 268px;
  height: 268px;
  margin-right: 20px;

  text-align: center;

  opacity: 0.84;
  background-color: $tomato;
}

.promo-card:last-child {
  margin-right: 0;
}

.promo-card__img-wrap {
  display: inline-block;

  width: 52px;
  height: 52px;
  margin-top: 42px;
  margin-bottom: 28px;

  background-color: white;
}

.promo-card__num {
  margin-bottom: 25px;

  color: white;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  line-height: normal;

  letter-spacing: 0.4px;
}

.promo-card__text {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: normal;

  text-align: center;
  letter-spacing: 6.4px;
  text-transform: uppercase;
}
